.menu {
	display: flex;
	gap: 16px;
	font-weight: 600;
	margin-left: auto;
}

.link {
	color: #A8AEBF;
	padding: 12px 16px;
	font-size: 1.6rem;
	text-decoration: none;
	transition: var(--transition);
}

.link:hover,
.link:active {
	color: white;
}