.card {
	background-color: rgba(32, 40, 62, 0.8);
	border-radius: 12px;
	padding: 8px 8px 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.img {
	border-radius: 12px;
	width: 266px;
	height: 400px;
	overflow: hidden;
	position: relative;
}

.img img{
	width: 100%;
}

.favorites-icon {
	width: 24px;
	height: 24px;
	background-image: url('../../assets/icons/like.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

.title {
	color: var(--title-color);
}

.favorites {
	color: var(--primary-color);
	font-weight: 600;
	font-size: 1.6rem;
	display: flex;
	gap: 8px;
	align-items: center;
}

.rating {
	position: absolute;
	font-size: 1.6rem;
	background-color: rgba(0, 0, 0, 0.65);
	border-radius: 8px;
	color: var(--warning-color);
	padding: 8px;
	display: flex;
	align-items: center;
	gap: 4px;
	top:8px;
	left: 8px;
}

.star {
	width: 16px;
	height: 16px;
	background-image: url('../../assets/icons/star.svg');
	background-repeat: no-repeat;
	background-size: cover;
}